* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(179, 212, 202, 0.664);
}

.board-container {
  width: 450px;
  height: 450px;
  border: 2px solid;
  border-color: black;
}

.title {
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
  margin-bottom: 5%;
}

.title h1{
  letter-spacing: 2px;
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 12.5%;
  height: 12.5%;
}

.promote-square {
  width: 50%;
  height: 50%;
}

.square-black {
  background: rgb(112,162,163)
}

.square-white {
  background: rgb(177,228,185)
}

.board-square {
  width: 100%;
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.piece-container {
  cursor: grab;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, 0)
}

.piece {
  max-width: 80%;
  max-height: 80%;
}

.vertical-text {
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.vertical-text button {
  margin-top: 20px;
  cursor: pointer;
  background: rgb(253, 253, 253);
  border: 2px solid rgb(51, 50, 50);
  border-radius: 2px;
}

.result-text {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.timer {
  text-align: center;
  color: rgb(45, 45, 46);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  width: 11ch; /* Stops the board from moving when minute goes from 10 -> 9 */
  margin: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 2px;
}

.draw {
  text-align: center;
  color: rgb(45, 45, 46);
  font-family: 'Franklin Gothic Medium',
  'Arial Narrow',
  Arial,
  sans-serif;
  font-size: 15px;
  width: 11ch;
  margin: 10px;
  margin-left: 30px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 2px;
  height: 40px;
}

.resign {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium',
  'Arial Narrow',
  Arial,
  sans-serif;
  font-size: 15px;
  width: 11ch;
  margin: 10px;
  margin-left: 30px;
  padding: 5px;
  background-color: rgb(46, 46, 46);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  height: 40px;
}

.resign:hover {
    background-color: #919191;
    color: white;
}

.draw:hover {
    background-color: #919191;
    color: white;
}

.draw-option-accept {
    color: rgb(45, 45, 46);
    width: 6ch;
    margin: 8px;
    margin-left: 30px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 2px;
}

.draw-option-decline {
    color: rgb(45, 45, 46);
    width: 6ch;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 2px;
}

.chat-board {
  width: 450px;
  height: 450px;
  border: 2px solid;
  border-color: black;
}

.chat {
  width: 100%;
  height: 300px;
  background-color: #252731;
  border: 1px solid;
  border-radius: 4px;
  border-color: black;
  padding: 1rem;
  margin: 10px;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-message {
    height: 70%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: flex-start;
    color: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
    height: 20px;
    background-color: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background-color: #646464;
}

::-webkit-scrollbar-corner {
    background-color: #646464;
}

.user-name {
    text-align: start;
    width: 100%;
    color: white;
    font-weight: 300;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 1rem;
}


.left-message {
    margin-left: 0px;
    max-width: 220px;
    padding-left: 0.5rem;
}

.left-message p {
    font-size: 1rem;
    background-color: #343841;
    padding: 0.5rem;
    border-radius: 0px 10px 10px 10px;
    font-weight: 300;
    color: #b4b6be;
}

.left-message span {
    font-size: 0.6rem;
    font-weight: 200;
    color: #b4b6be;
    padding-left: 0.5rem;
}

.right-message {
    margin-left: auto;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    max-width: 220px;
    padding-right: 0.5rem;
}

.right-message p {
    text-align: end;
    border-radius: 10px 0px 10px 10px;
    background-color: #70a2a3;
    color: black;
    padding: 0.5rem;
    text-align: center
}

.right-message span {
    width: 100%;
    text-align: end;
    padding-left: 0rem;
    padding-right: 0.5rem;
}

.send {
    width: 100%;
    height: 30px;
    display: flex;
}

.send input {
    width: 80%;
    text-decoration: none;
    background-color: #404450;
    border: none;
    padding-left: 1rem;
    border-radius: 5px 0px 0px 5px;
    color: white;
}

.send button {
    width: 20%;
    border: none;
    background-color: #e6e6e6;
    border-radius: 0px 5px 5px 0px;
}

.chat-close {
    text-align: center;
    color: rgb(45, 45, 46);
    font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
    font-size: 15px;
    width: 11ch;
    margin: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 2px;
}

.space-box {
    height: 100px;
}
